* {
  margin: 0px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  color: rgb(255, 52, 52);
  text-align: center;
  font-family: "Neonderthaw", cursive;
  font-size: 50px;
}

form {
  background-color: white;
  padding: 10px 25px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(35, 34, 34, 0.714),
    0 6px 20px 0 rgba(54, 65, 72, 0.911);
}

button {
  width: 80%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(235, 53, 83);
  color: white;
  border-radius: 2px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(191, 80, 98);
  border-radius: 5px;
}
